<div class="card">
  <div class="flex justify-content-center flex-wrap gap-3 mb-4">
    <p-button
      icon="pi pi-search"
      styleClass="bg-primary focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-bookmark"
      styleClass="p-button-secondary focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-check"
      styleClass="p-button-success focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-user"
      styleClass="p-button-info focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-exclamation-triangle"
      styleClass="p-button-warning focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-cog"
      styleClass="p-button-help focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-times"
      styleClass="p-button-danger focus:shadow-none"
    ></p-button>
  </div>
  <div class="flex justify-content-center flex-wrap gap-3 mb-4">
    <p-button
      icon="pi pi-pencil"
      styleClass="p-button-rounded bg-primary focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-eye"
      styleClass="p-button-rounded p-button-secondary focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-thumbs-up"
      styleClass="p-button-rounded p-button-success focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-eye-slash"
      styleClass="p-button-rounded p-button-info focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-bell"
      styleClass="p-button-rounded p-button-warning focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-heart"
      styleClass="p-button-rounded p-button-help focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-thumbs-down"
      styleClass="p-button-rounded p-button-danger focus:shadow-none"
    ></p-button>
  </div>
  <div class="flex justify-content-center flex-wrap gap-3 mb-4">
    <p-button
      icon="pi pi-bars"
      styleClass="p-button-rounded p-button-outlined focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-comment"
      styleClass="p-button-rounded p-button-secondary p-button-outlined focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-comments"
      styleClass="p-button-rounded p-button-success p-button-outlined focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-envelope"
      styleClass="p-button-rounded p-button-info p-button-outlined focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-history"
      styleClass="p-button-rounded p-button-warning p-button-outlined focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-plus"
      styleClass="p-button-rounded p-button-help p-button-outlined focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-trash"
      styleClass="p-button-rounded p-button-danger p-button-outlined focus:shadow-none"
    ></p-button>
  </div>
  <div class="flex justify-content-center flex-wrap gap-3 mb-4">
    <p-button
      icon="pi pi-linkedin"
      styleClass="p-button-rounded p-button-text p-button-raised focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-phone"
      styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-map-marker"
      styleClass="p-button-rounded p-button-success p-button-text p-button-raised focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-star"
      styleClass="p-button-rounded p-button-info p-button-text p-button-raised focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-star-fill"
      styleClass="p-button-rounded p-button-warning p-button-text p-button-raised focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-exclamation-triangle"
      styleClass="p-button-rounded p-button-help p-button-text p-button-raised focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-globe"
      styleClass="p-button-rounded p-button-danger p-button-text p-button-raised focus:shadow-none"
    ></p-button>
  </div>
  <div class="flex justify-content-center flex-wrap gap-3 mb-4">
    <p-button
      icon="pi pi-question-circle"
      styleClass="p-button-rounded p-button-text focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-info-circle"
      styleClass="p-button-rounded p-button-secondary p-button-text focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-sync"
      styleClass="p-button-rounded p-button-success p-button-text focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-user"
      styleClass="p-button-rounded p-button-info p-button-text focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-cloud-upload"
      styleClass="p-button-rounded p-button-warning p-button-text focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-ellipsis-v"
      styleClass="p-button-rounded p-button-help p-button-text focus:shadow-none"
    ></p-button>
    <p-button
      icon="pi pi-cloud-download"
      styleClass="p-button-rounded p-button-danger p-button-text focus:shadow-none"
    ></p-button>
  </div>
</div>
