<div class="card flex justify-content-center">
   <p-sidebar [(visible)]="sidebarVisible" [position]="position" [styleClass]="styleClass" [fullScreen]="full">
      <ng-template pTemplate="header">
         <ng-content select="[header]"></ng-content>
      </ng-template>
      <ng-template pTemplate="footer">
         <ng-content select="[footer]"></ng-content>
      </ng-template>
      <ng-template pTemplate="body">
         <ng-content></ng-content>
      </ng-template>
   </p-sidebar>
</div>