<div *ngIf="type === 'c-error'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="-ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-slate-500 before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full checked:border-error checked:bg-error checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-white hover:cursor-pointer focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:before:shadow-red-400"
    type="checkbox" value="" id="checkboxChecked" [checked]="checked" [disabled]="disabled" />
  <label class="inline-block pl-[0.15rem] hover:cursor-pointer" for="checkboxChecked" Checked checkbox>{{ label }}
  </label>
</div>
<div *ngIf="type === 'c-success'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="-ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-slate-500 before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full checked:border-success checked:bg-success checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-white hover:cursor-pointer focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:before:shadow-green-400"
    type="checkbox" value="" id="checkboxChecked" [checked]="checked" [disabled]="disabled" />
  <label class="inline-block pl-[0.15rem] hover:cursor-pointer" for="checkboxChecked" Checked checkbox>{{ label }}
  </label>
</div>
<div *ngIf="type === 'c-info'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="-ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-slate-500 before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full checked:border-info checked:bg-info checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-white hover:cursor-pointer focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:before:shadow-blue-400"
    type="checkbox" value="" id="checkboxChecked" [checked]="checked" [disabled]="disabled" />
  <label class="inline-block pl-[0.15rem] hover:cursor-pointer" for="checkboxChecked" Checked checkbox>{{ label }}
  </label>
</div>
<div *ngIf="type === 'c-primary'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="-ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-slate-500 before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full checked:border-primary checked:bg-primary checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-white hover:cursor-pointer focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:before:shadow-blue-400"
    type="checkbox" value="" id="checkboxChecked" [checked]="checked" [disabled]="disabled" />
  <label class="inline-block pl-[0.15rem] hover:cursor-pointer" for="checkboxChecked" Checked checkbox>{{ label }}
  </label>
</div>
<div *ngIf="type === 'c-warn'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="-ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-slate-500 before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full checked:border-orange-500 checked:bg-orange-500 checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-white hover:cursor-pointer focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:before:shadow-orange-400"
    type="checkbox" value="" id="checkboxChecked" [checked]="checked" [disabled]="disabled" />
  <label class="inline-block pl-[0.15rem] hover:cursor-pointer" for="checkboxChecked" Checked checkbox>{{ label }}
  </label>
</div>
<div *ngIf="type === 'c-basic'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="-ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-slate-500 before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full checked:border-slate-600 checked:bg-slate-600 checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-white hover:cursor-pointer focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:before:shadow-[0px_0px_0px_13px_#3b71ca]"
    type="checkbox" value="" id="checkboxChecked" [checked]="checked" [disabled]="disabled" />
  <label class="inline-block pl-[0.15rem] hover:cursor-pointer" for="checkboxChecked" Checked checkbox>{{ label }}
  </label>
</div>

<div *ngIf="type === 'c-disabled'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input class="-ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem]" type="checkbox" value=""
    id="checkboxChecked" [checked]="checked" disabled />
  <label class="inline-block pl-[0.15rem] hover:cursor-pointer" for="checkboxChecked">{{ label }}
  </label>
</div>

<div *ngIf="type === 'r-error'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="-ml-[1.5rem] mr-1 mt-0.5 h-5 w-5 rounded-full border-2 border-slate-500 checked:border-error hover:cursor-pointer focus:shadow-none focus:outline-none focus:ring-0 checked:focus:border-error"
    type="radio" name="flexRadioDefault" id="radioDefault01" [checked]="checked" />
  <label class="mt-px inline-block pl-[0.15rem] hover:cursor-pointer" for="radioDefault01">
    {{ label }}
  </label>
</div>
<div *ngIf="type === 'r-success'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="relative float-left -ml-[1.5rem] mr-1 mt-0.5 rounded-full border-2 border-slate-500 hover:cursor-pointer focus:shadow-none focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:border-green-600 checked:focus:before:shadow-green-400"
    type="radio" name="flexRadioDefault" id="radioDefault01" [checked]="checked" />
  <label class="mt-px inline-block pl-[0.15rem] hover:cursor-pointer" for="radioDefault01">
    {{ label }}
  </label>
</div>
<div *ngIf="type === 'r-warn'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="relative float-left -ml-[1.5rem] mr-1 mt-0.5 h-5 w-5 appearance-none rounded-full border-2 border-slate-500 before:absolute before:h-4 before:w-4 before:scale-0 before:rounded-full checked:border-orange-600 checked:after:absolute checked:after:left-1/2 checked:after:top-1/2 checked:after:h-[0.625rem] checked:after:w-[0.625rem] checked:after:rounded-full checked:after:border-orange-600 checked:after:bg-orange-600 checked:after:[transform:translate(-50%,-50%)] hover:cursor-pointer focus:shadow-none focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:border-orange-600 checked:focus:before:shadow-orange-400"
    type="radio" name="flexRadioDefault" id="radioDefault01" [checked]="checked" />
  <label class="mt-px inline-block pl-[0.15rem] hover:cursor-pointer" for="radioDefault01">
    {{ label }}
  </label>
</div>
<div *ngIf="type === 'r-info'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="relative float-left -ml-[1.5rem] mr-1 mt-0.5 h-5 w-5 appearance-none rounded-full border-2 border-slate-500 before:absolute before:h-4 before:w-4 before:scale-0 before:rounded-full checked:border-info checked:after:absolute checked:after:left-1/2 checked:after:top-1/2 checked:after:h-[0.625rem] checked:after:w-[0.625rem] checked:after:rounded-full checked:after:border-info checked:after:bg-info checked:after:[transform:translate(-50%,-50%)] hover:cursor-pointer focus:shadow-none focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:border-info checked:focus:before:shadow-blue-400"
    type="radio" name="flexRadioDefault" id="radioDefault01" [checked]="checked" />
  <label class="mt-px inline-block pl-[0.15rem] hover:cursor-pointer" for="radioDefault01">
    {{ label }}
  </label>
</div>
<div *ngIf="type === 'r-primary'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="relative float-left -ml-[1.5rem] mr-1 mt-0.5 h-5 w-5 appearance-none rounded-full border-2 border-slate-500 before:absolute before:h-4 before:w-4 before:scale-0 before:rounded-full checked:border-primary checked:after:absolute checked:after:left-1/2 checked:after:top-1/2 checked:after:h-[0.625rem] checked:after:w-[0.625rem] checked:after:rounded-full checked:after:border-primary checked:after:bg-primary checked:after:[transform:translate(-50%,-50%)] hover:cursor-pointer focus:shadow-none focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:border-primary checked:focus:before:shadow-blue-400"
    type="radio" name="flexRadioDefault" id="radioDefault01" [checked]="checked" />
  <label class="mt-px inline-block pl-[0.15rem] hover:cursor-pointer" for="radioDefault01">
    {{ label }}
  </label>
</div>
<div *ngIf="type === 'r-basic'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input
    class="relative float-left -ml-[1.5rem] mr-1 mt-0.5 h-5 w-5 appearance-none rounded-full border-2 border-slate-500 before:absolute before:h-4 before:w-4 before:scale-0 before:rounded-full checked:border-slate-600 checked:after:absolute checked:after:left-1/2 checked:after:top-1/2 checked:after:h-[0.625rem] checked:after:w-[0.625rem] checked:after:rounded-full checked:after:border-slate-600 checked:after:bg-slate-600 checked:after:[transform:translate(-50%,-50%)] hover:cursor-pointer focus:shadow-none focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:focus:border-slate-600 checked:focus:before:shadow-slate-400"
    type="radio" name="flexRadioDefault" id="radioDefault01" [checked]="checked" />
  <label class="mt-px inline-block pl-[0.15rem] hover:cursor-pointer" for="radioDefault01">
    {{ label }}
  </label>
</div>
<div *ngIf="type === 'r-disabled'" class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem]">
  <input class="relative float-left -ml-[1.5rem] mr-1 mt-0.5 h-5 w-5" type="radio" name="flexRadioDefault"
    id="radioDefault01" [checked]="checked" disabled />
  <label class="mt-px inline-block pl-[0.15rem] hover:cursor-pointer" for="radioDefault01">
    {{ label }}
  </label>
</div>